/*
 * File: styles.scss
 * Project: vue-template
 * File Created: Wednesday, 20th June 2018 3:14:05 pm
 * Author: Ice-Hazymoon (imiku.me@gmail.com)
 * -----
 * Last Modified: Wednesday, 20th June 2018 3:14:24 pm
 * Modified By: Ice-Hazymoon (imiku.me@gmail.com)
 * -----
 * Copyright 2017 - 2018
 */
*{
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

html{
    font-size: 16px;
}